.selection-container {
  display: flex;
  flex-direction: column;
}

.product-button-container {
  width: 50%;
}
.personalization-button-container {
  width: 50%;
  display: flex;
}

.selection-container button {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: left;
  background: black;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding-left: 12px;
  outline: none;
}
.selection-container button.active {
  background: #e6e6e6;
  color: black;
}
